Package: io.github.krxwallo.autodrop
Name: AutoDrop
Version: 0.0.1
Architecture: iphoneos-arm
Description: Automatically accept AirDrop requests.
Maintainer: Krxwallo
Author: Krxwallo
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3)
